<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<array>
		<dict>
			<key>code</key>
			<string>001</string>
			<key>name</key>
			<string>东城区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>002</string>
			<key>name</key>
			<string>西城区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>003</string>
			<key>name</key>
			<string>朝阳区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>004</string>
			<key>name</key>
			<string>丰台区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>005</string>
			<key>name</key>
			<string>石景山区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>006</string>
			<key>name</key>
			<string>海淀区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>007</string>
			<key>name</key>
			<string>门头沟区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>008</string>
			<key>name</key>
			<string>房山区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>009</string>
			<key>name</key>
			<string>通州区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>010</string>
			<key>name</key>
			<string>顺义区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>011</string>
			<key>name</key>
			<string>昌平区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>012</string>
			<key>name</key>
			<string>大兴区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>013</string>
			<key>name</key>
			<string>怀柔区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>014</string>
			<key>name</key>
			<string>平谷区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>015</string>
			<key>name</key>
			<string>密云县</string>
		</dict>
		<dict>
			<key>code</key>
			<string>016</string>
			<key>name</key>
			<string>延庆县</string>
		</dict>
	</array>
	<key>intcode</key>
	<string>200</string>
	<key>msg</key>
	<string>操作成功</string>
</dict>
</plist>
