<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<array>
		<dict>
			<key>code</key>
			<string>110101</string>
			<key>name</key>
			<string>东城区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110102</string>
			<key>name</key>
			<string>西城区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110105</string>
			<key>name</key>
			<string>朝阳区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110106</string>
			<key>name</key>
			<string>丰台区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110107</string>
			<key>name</key>
			<string>石景山区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110108</string>
			<key>name</key>
			<string>海淀区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110109</string>
			<key>name</key>
			<string>门头沟区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110111</string>
			<key>name</key>
			<string>房山区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110112</string>
			<key>name</key>
			<string>通州区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110113</string>
			<key>name</key>
			<string>顺义区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110114</string>
			<key>name</key>
			<string>昌平区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110115</string>
			<key>name</key>
			<string>大兴区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110116</string>
			<key>name</key>
			<string>怀柔区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110117</string>
			<key>name</key>
			<string>平谷区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110228</string>
			<key>name</key>
			<string>密云县</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110229</string>
			<key>name</key>
			<string>延庆县</string>
		</dict>
	</array>
	<key>intcode</key>
	<string>200</string>
	<key>msg</key>
	<string>操作成功</string>
</dict>
</plist>
